header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    position: relative;
    left: 0;
    background-color: transparent;
    border: none;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    background: url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .landing__logo{
    color: #fff;
    max-width: 150px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    color: #fff;
    margin-top: .5rem;
}

nav a{
    color: #fff;
}

