/* MODAl */
.closeModal{
    display: none;
}

.openModal{
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -300px;
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    border-radius: .5rem;
}

.modal-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
}

.modal-header button{
    border: none;
    background: none;
    font-size: 3rem;
}

.modal-header h2{
    font-size: 1.8rem;
}

.modal-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
}

.modal form{
    width: 100%;
}

.modal form input{
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    padding: 1rem;
    outline: none;
}

.btn-none{
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.form-items{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 2rem;
}