header{
    position: relative;
    left: 10rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1) ;
    width: calc(100% - 10rem);
    color: #f2f6fa;
    /* height: 8vh; */
    padding: 1rem 2rem; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-size: 2rem;
}

.partiaf-icon{
    width: 180px;
    margin-top: .5rem;
    /*margin-left: 3rem;*/
}

.user-image{
    max-width: 35px;
    border-radius: 5rem;
}

.header__text{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    text-align: center;
}

.header__text .text_one{
    font-size: 7rem;
}

.header__text p{
  
    font-family: 'Poppins',  sans-serif ;
    font-weight: 800;
    font-style: italic;

}

.header__text .text_yellow_one{
    color: #EBC74E ;
    font-size: 7rem;
    font-family: 'Poppins',  sans-serif ;
    font-weight: 800;
    font-style: italic;
}

.header__text .text_two{
    font-size: 6rem;
}

.header__text .text_yellow_two{
    color: #EBC74E ;
    font-size: 5rem;
    font-family: 'Poppins',  sans-serif ;
    font-weight: 800;
    font-style: italic;
}

.text_event{
    padding-top: 10rem;
}

.text_event span{
    color: #EBC74E;
    font-size: 2rem;
}

.text_event h1{
    font-size: 5rem;
    font-weight: 400;
}

.text_event .icons{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 3rem;
    cursor: pointer;
}

.text_event .icons img{
    height: 2rem;
    width: 2rem;
    justify-content: center;
}

