*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

#root{
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: #fff;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #1E1E1E;
}

img{
    width: 100%;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none;
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }


.btn-none-new{
    background-color: #fff;
    font-size: 2rem;
}