*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

#root{
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: #fff;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #1E1E1E;
}

img{
    width: 100%;
}


/* HOME */
.img_home{
    filter: invert(.8);
    width: 250px;
    margin-bottom: 10rem;
}

.home__link{
    background-color: rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 1rem;
    color: #1E1E1E !important;
    min-width: 300px;
    text-align: center;
}

.home__link__btn{
    background-color: gold;
    padding: 1rem;
    border-radius: 1rem;
    color: #1E1E1E !important;
    min-width: 300px;
    text-align: center;
}